@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.contenedor> * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #F9EFDB;
}

.navbar {
  grid-area: navbar;
  background-color: #9DBC98;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 180px;
  border-radius: 4px;
  background-color: #9DBC98;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

li a:hover {
  background-color: #638889;
  color: white;
}

.sidebar {
  grid-area: sidebar;
  background-color: #9DBC98;
}

.main {
  grid-area: main;
  background-color: #EBD9B4;
}

.footer {
  grid-area: footer;
  background-color: #638889;
}

.contenedor {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "navbar"  50px
    "main"    auto
    "sidebar" 100px
    "footer"  100px;
}

@media (min-width: 600px) {
  .contenedor {
    grid-template:
      "header  header" 100px
      "navbar  navbar" 50px
      "sidebar main"   auto
      "footer  footer" 100px /
      200px    auto;
  }
}

@media (min-width: 900px) {
  .contenedor {
    grid-template:
      "header  header header"  100px
      "navbar  main   sidebar" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }
}